@{
    ViewBag.Title = "Index";
}

<h2>Herzlich Willkommen </h2>
<h4>
..... auf der besten Spielseite aller Zeiten. <br />
 * 8 von 10 Pr0gramm-User vergeben diesem Spiel die volle Punktezahl.<br />
 * Profi-Gamer finden die verwendete BAUI94-Engine als die beste aller Zeiten und dass die     Unreal- sowie die frostbite- Engine dagengen einpacken können.<br />
 * Der Fachmann bestaunt die atemberaubenden Partikeleffekte, die durch die einmalige Engine auch auf schwächeren System dargestellt werden können.<br />
 * Das Spiel wurde von den 3 klügsten Köpfe der Spieleentwicklung in Rahmen eines einjährigen      Projeketes erschaffen.<br />
 * "They are fucking awesome!!" behaupten andere Studios
 

</h4>