<ul>
    <li id="nav1"> @Html.ActionLink("Startseite","Index","Home")</li>   
      <li id="nav2"> @Html.ActionLink("Bilder","Index","Pictures")</li>
      <li id="nav2"> @Html.ActionLink("Gästebuch","Index","Comment")</li>   
      <li id="nav2"> @Html.ActionLink("Spiel","Index","Game")</li>   
</ul>