@{
    ViewBag.Title = "Index";
}

<h2>Bilder</h2>


<center>
    <img src="../../Content/Images/Runv2.png" /> <br />
    <h4>Animation des Rangers - laufend</h4><br />
    <br />
    <img src="../../Content/Images/PandaRunv1.png" /> <br />
    <h4>Animation des Panda - laufend</h4>


</center>